@import "bootstrap/scss/functions";
@import "bootstrap/scss/bootstrap";

// 🎨 Customize your theme here
$primary: #CDB4DB;
$secondary: #FFC8DD;
$success: #FFAFCC;
$info: #BDE0FE;
$warning: #A2D2FF;
$dark: #1f2756;
$dark-secondary: $secondary;

// Rounded corners & font
$border-radius: 0.5rem;
$font-family-sans-serif: 'Inter', sans-serif;

[data-bs-theme=dark] {
  --bs-body-bg: $dark;
}

.primary-color {
  color: $primary;
}

.custom-navbar {
  background-color: $secondary;
  color: white;

  .navbar-nav {
    .nav-link {
      color: white;

      &.active {
        color: var(--bs-primary-text-emphasis);
      }

      &:hover {
        color: $primary;
      }
    }
  }

  .navbar-toggler {
    border-color: $primary;
    background-color: $secondary;
    color: white;

    &:hover, &:focus {
      background-color: $primary;
      border-color: $secondary;
    }
  }
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
  color: #fff !important;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .show > &.dropdown-toggle {
    background-color: $secondary !important;
    border-color: $secondary !important;
    color: #fff !important;
  }
}

.form-check-input {
  background-color: $primary;
  border-color: $primary;

  &:checked {
    background-color: $dark;
    border-color: $dark;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
    border-color: $secondary;
  }
}

.pagination {
  .page-link {
    color: $primary;
    border: 1px solid $primary;

    &:hover {
      background-color: $secondary;
      color: #fff;
      border-color: $secondary;
    }
  }

  .page-item.active .page-link {
    background-color: $primary;
    border-color: $primary;
    color: #fff;
  }

  .page-item.disabled .page-link {
    color: #6c757d;
    background-color: #f8f9fa;
    border-color: #dee2e6;
  }
}